################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Deploy
/packages
/lib/RCWF/2019.2.618.40
/Sage.CA.SBS.ERP.Sage300.SC/.vs/Sage.CA.SBS.ERP.Sage300.SC/v16
/Sage.CA.SBS.ERP.Sage300.SC/Build32
/Sage.CA.SBS.ERP.Sage300.SC.BusinessRepository/bin
/Sage.CA.SBS.ERP.Sage300.SC.BusinessRepository/obj
/Sage.CA.SBS.ERP.Sage300.SC.Data/bin
/Sage.CA.SBS.ERP.Sage300.SC.Data/obj
/Sage.CA.SBS.ERP.Sage300.SC.Interfaces/bin
/Sage.CA.SBS.ERP.Sage300.SC.Interfaces/obj
/Sage.CA.SBS.ERP.Sage300.SC.Models/bin
/Sage.CA.SBS.ERP.Sage300.SC.Models/obj
/Sage.CA.SBS.ERP.Sage300.SC.Resources/bin
/Sage.CA.SBS.ERP.Sage300.SC.Resources/obj
/Sage.CA.SBS.ERP.Sage300.SC.Services/bin
/Sage.CA.SBS.ERP.Sage300.SC.Services/obj
/Sage.CA.SBS.ERP.Sage300.SC.Setup/Release
/Sage.CA.SBS.ERP.Sage300.SC.Web/obj
/Sage.CA.SBS.ERP.Sage300.SC.Web/bin
/Sage.CA.SBS.ERP.Sage300.SC/Source/ENG/Resource/scPro.aps
/Sage.CA.SBS.ERP.Sage300.SC/Source/UIs/AccpacSC1100/obj/x86/Release
/Sage.CA.SBS.ERP.Sage300.SC/Source/Views/error
/Sage.CA.SBS.ERP.Sage300.SC/Source/ENG/Resource/error
/Sage.CA.SBS.ERP.Sage300.SC/Source/Project/error
/Sage.CA.SBS.ERP.Sage300.SC/Source/UIs/AccpacSC9100/AccpacSC9100.ocx
/Sage.CA.SBS.ERP.Sage300.SC/Source/UIs/AccpacSC9100/AccpacSC9100.lib
/Sage.CA.SBS.ERP.Sage300.SC/Source/UIs/AccpacSC9100/AccpacSC9100.exp
/Sage.CA.SBS.ERP.Sage300.SC/Source/UIs/Resource/error
/Sage.CA.SBS.ERP.Sage300.SC.Processor/obj/Release
