@* Copyright © 2019 Sage Software Asia Pte Ltd *@

@using Sage.CA.SBS.ERP.Sage300.Common.Web.AreaConstants
@using Sage.CA.SBS.ERP.Sage300.Common.Resources

@{ 
    const string newLayout = "~/Areas/Shared/Views/Shared/_GlobalLayout.cshtml";
    bool newLayoutExists = System.IO.File.Exists(Server.MapPath(newLayout));
}
@if (!newLayoutExists)
{
    <style>
        .margin-left-base
        {
            margin-left: 20px;
        }
    </style>
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formSCOptions" }))
{
    <div id="antiforgerytoken_holder">
        @Html.AntiForgeryToken()
    </div>
    @Html.Partial("~/Areas/SC/Views/Options/Partials/_Options.cshtml")
}

@section scripts{
    @Scripts.Render("~/bundles/SCOptions")
}

@{
    if (newLayoutExists)
    {
        Layout = newLayout;
    }
    else
    {
        Layout = Shared.LocalizedLayout;
    }
}
